*{
    box-sizing:border-box;
}
.row:after{
    content:"";
    clear:both;
    display:table;
}
body {
	font-family:"Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size:1.5em;
	background:white;
}
nav {
	width:100%;
	height:auto;
    background-color:rgb(247, 38, 125);
    text-align:left;
    clear:both;
    float:left;  
}
nav a {
    text-decoration:none;
}
nav ul li {
	list-style:none;
	margin-left:-35px;
	border-bottom:black 2px solid;
	border-left:black 2px solid;
}
nav ul li a:link, nav ul li a:visited {
    display:block;
    background-color: rgb(255, 255, 255);
    color:black;
   	text-decoration:none;
}
nav ul li a:hover, nav ul li a:active{
    display:block;
    background-color:black;
    color:white;
}
a:link, a:visited, a:hover,a:active{
	color:black;
	text-shadow:1px 1px black;
}
header{
	width:100%;
	top:0%;
	color:white;
	padding:10px;
	height:250px;
	background-color:rgb(68, 232, 253);
    text-align:center;
    text-shadow:1px 1px #555;
}
h1{
    text-shadow:gray 2px 2px 2px;
    font-size:2.0em;
    animation:mymove 10s;
    animation-fill-mode: forwards;
}
@keyframes mymove{
	from{left:-20%;}
    to{left:20%;}
}
h2{
    text-shadow:gray 2px 2px 2px;
    font-size:1.5em;
}
section{
    background:rgb(126, 224, 69);
    color:black;
    text-align:left;
    vertical-align:center;
}
summary{
	text-shadow:1px 1px #555;
	font-size:1.1em;
}
aside {
    background: black;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
}
.pulse{
	animation: pulse 5s infinite;
}
@keyframes pulse{
	0% {color:white;text-shadow:1px 1px black;}
	50% {color:rgb(247, 38, 125);text-shadow:10px 10px 2px white;}
    100% {color:rgb(126, 224, 69);text-shadow:1px 1px darkgray;}
}
footer {
    background-color:black;
    color: white;
    text-align: left;
    font-size: 12px;
    padding: 15px;
}
.icon-bar{
	width:100%;
	background-color:rgb(247, 38, 125);
	overflow:auto;
}
.icon-bar a{
	text-align:center;
	width:20%;
	float:left;
	padding:12px 0px;
	color:white;
	font-size:36px;
	transition:all 0.3s ease;
}
.icon-bar a:hover{
	background-color:#000;
}
/*for mobile phones*/
[class*="col-"]{
    width:100%; /* this is being overidden in tablet and desktop.*/
    float:left; /* sets defaults for everything including tablet and desktop*/
    padding:15px; /*sets default for everything including tablet and desktop*/
}
@media only screen and (min-width:600px){
    /* for tablets*/
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and(min-width:768px){
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    body{
        max-width:1200px;
        background:url('../images/background.jpg');
        background-repeat:no-repeat;
        background-position:center top;
        background-size:cover;
        background-color:#111;
    }
}


